@import "tailwindcss";
.no-scroll {
  @apply h-screen overflow-hidden;
}
@layer components {
  .nav-link-hover {
    @apply transition-all duration-300 ease-out cursor-pointer hover:text-white;
    display: inline-block;
  }

  .nav-link-hover:hover {
    transform: translateY(-5px);

    text-shadow: 0 12px 8px rgba(225, 60, 82, 0.9);
  }

  .btn-trial {
    @apply transition-all duration-300 ease-in-out border-2 border-[#E13C52] bg-[#E13C52] text-white max-w-[250px] rounded-full cursor-pointer px-[30px];
  }
  .btn-trial:hover {
    background-color: transparent;
    color: white;
    box-shadow:
      inset 0 8px 12px rgba(225, 60, 82, 0.6),
      inset 0 -2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }
}
